*
	box-sizing border-box
.clearfix
	clearfix()
html
	position relative
	height 100%
body
	position relative
	height 100%
	padding 0
	margin 0
	clearfix()
img
	max-width 100%
main
	padding 10px
	background-color red
	white-space nowrap
	clearfix()
.desk
	width 49%
	padding 1%
	display inline-block
	height 98vh
	overflow auto
	margin-right auto
	transition all 1s ease-in-out
.desk-items
	column-count 3
	column-width 32%
	background-color #000
	height 98%
	padding 10px
    column-gap 1em
    transition all 1s ease-in-out
.item
	display inline-block
	transition all 1s ease-in-out
	cursor pointer
	min-height 100px
