*
	box-sizing border-box
body
	padding 0 10px
	background-color red;
main
	padding 10px
	height 100%
	margin auto
	white-space nowrap
.desk, .desk-placeholder, .desk-placeholder:hover
	width 48%
	display inline-block
	height 90vh
	overflow auto
	min-height 100px
	background-color #000
	margin-right 10px
	padding 1%
.desk-items
	column-count: 3
    column-gap 1em
    transition: all 0.5s ease-in-out
	.placeholder, .placeholder:hover
		min-height 100px
		background-color red
		border-radius 30px
		transition: all 0.5s ease-in-out
.item
	width 100%
	display inline-block
	transition: all 0.5s ease-in-out
	cursor pointer
	img
		width 100%
	
